{%- extends "layout.html" %}

{%- block afterstyle %}
<link rel="stylesheet" href="{{static_url('style.css')}}" />
<script src="{{static_url('index.js')}}"></script>
{%- endblock %}

{% block body %}
<div id="title-wrapper">            
  <h1 id="title" class="inline">
    <a href="{{content_url('index.html')}}">{{config.package.name|title}}</a>
  </h1>
  <input type="text" class="inline" id="search" placeholder="搜索 Arale 模块">
  <p id="description">{{config.package.description}}</p>
</div>
<div id="main-wrapper">
  <div class="main-block" id="document-wrapper">
    <div>
      <h2>Document</h2>
      <ol id="sidenav">
        {%- for item in resource.pages|find_all('docs') %}
        {%- if item.filename != 'index' %}
        <li><a href="{{permalink_url(item)}}">{{item.title}}</a></li>
        {%- endif %}
        {%- endfor %}
        <li><a href="{{content_url('contributing.html')}}">如何贡献代码</a></li>
      </ol>
    </div>
    <div style="display:none" id="J-alipay">
      <h2>Alipay</h2>
      <ol id="sidenav">
        {%- for item in resource.pages|find_all('alipay') %}
        {%- if item.filename != 'index' %}
        <li><a href="{{permalink_url(item)}}">{{item.title}}</a></li>
        {%- endif %}
        {%- endfor %}
      </ol>
    </div>
  </div>
  {%- if post.filename == 'index' %}
  <div class="main-block" id="module-wrapper">
    <h2>Arale・<span class="catigory">基础设施</span></h2>
    <div class="modules modules-infrastructure">
    </div>

    <h2>Arale・<span class="catigory">工具</span></h2>
    <div class="modules modules-utility">
      正在用绳命加载模块...
    </div>

    <h2>Arale・<span class="catigory">UI组件</span></h2>
    <div class="modules modules-widget">
    </div>

    <h2>gallery・<span class="catigory">业界精选</span></h2>
    <div class="modules modules-gallery">
    </div>

    <h2>alipay・<span class="catigory">支付宝通用</span></h2>
    <div class="modules modules-alipay">
    </div>
  </div>
  <div id="card">
    <h2 class="card-name"></h2>
    <p class="card-version"></p>
    <p class="card-description"></p>
  </div>
  {%- else %}
  <div class="main-block" id="doc-wrapper">
    <h1>{{post.title}}</h1>
    <div id="content">{{post.html}}</div>
  </div>
  {%- endif %}
</div>
{%- endblock %}

{%- block footer %}{% include "snippet/foot.html" %}{% endblock %}
