/*calendar*/
.aralex-calcontainer {
	border:1px solid #7B9EBD;
	width:176px;
	padding:5px;
	top:0;
	left:0;
	display:none;
	z-index:100;
	background:#e8e8e8 url(http://img.alipay.net/global/calendar-bg.png) repeat-x;
}
.aralex-calcontainer iframe {
	position:absolute;
	border:none;
	margin:0;
	padding:0;
	z-index:-1;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
}

/* IE6 only */
.aralex-calcontainer iframe.fixedsize {
	width:188px;
	height:175px;
	top:-1px;
	left:-1px;
}
.aralex-calendar .calheader{
	position:relative;
	width:100%;
	text-align:center;
	overflow:hidden;
	padding:4px 0;
	font:700 14px airal;
}
.aralex-calendar .calnavleft,
.aralex-calendar .calnavright{
	position:absolute;
	height:13px;
	width:14px;
	overflow:hidden;
	text-indent:-10000em;
	cursor:pointer;
	top:2px;
	bottom:0;
	z-index:1;
}

.aralex-calendar .calnavleft {
	left:2px;
	background:transparent url(http://img.alipay.net/global/calendar-prev.gif) no-repeat;
}
.aralex-calendar .calnavright {
	right:2px;
	background:transparent url(http://img.alipay.net/global/calendar-next.gif) no-repeat;
}

.aralex-calendar .calbody{
	width:175px;
	overflow:hidden;
	text-align: left;
	border-right:1px solid #909090;
	border-bottom:1px solid #909090;
}
.aralex-calendar .calbody div{
	width:182px;
	height:18px;
	
}
.aralex-calendar .calbody span{
	display:block;
	float:left;
	line-height:18px;
	height:18px;
	width:24px;
	text-align: center;
	border-style:solid;
	border-color:#909090;
	border-width:1px 0 0 1px;
	background:#fff;
	font-size:12px;
	color:#bbb;
	font-family:Simsun;
	position:relative;
	cursor:pointer;
}
*+html .aralex-calendar .calbody span{
	height:17px;
	line-height:17px;
}
.aralex-calendar .calbody span a{
	color:#4d4d4d;/* !important*/;
	display:block;
	text-decoration: none;
}
.aralex-calendar .calbody span a{
	color:#4d4d4d;
}
.aralex-calendar .calbody span a:hover{
	text-decoration:none;
}
.aralex-calendar .calbody span a:hover{
	background-color:#dbf0ff;
}
/* 修改当天日期背景色 12 -23 */
.aralex-calendar .calbody span.today{
	background:#69abfc;
}
.aralex-calendar .calbody span.today a,
.aralex-calendar .calbody span.today a:link,
.aralex-calendar .calbody span.today a:visited{
	position:absolute;
	left:-1px;
	top:-1px;
	width:24px;
	height:18px;
	line-height:18px;
	z-index:999;
	font-weight:700;
	border:1px solid #909090;
	color:#fff;
}
.aralex-calendar .calbody span.today a:hover{
	color:#4D4D4D;
}

.aralex-calendar .calbody span.selected{
	background:#feff48;
}
.aralex-calendar .calbody span.activeable{
	background:#feff48;
}

.aralex-calendar .calbody span.selected a,
.aralex-calendar .calbody span.selected a:link,
.aralex-calendar .calbody span.selected a:visited
{
	position:absolute;
	left:-1px;
	top:-1px;
	width:22px;
	height:16px;
	line-height:16px;
	border:2px solid #909090;
	color:#4D4D4D;
	font-weight:700;
}

*+html .aralex-calendar .calbody span.selected a,
*+html .aralex-calendar .calbody span.selected a:link,
*+html .aralex-calendar .calbody span.selected a:visited{
	height:15px;
	line-height:15px;
}
/* gezi 12-23 新增 */
.aralex-calendar .calbody span.oom a,
.aralex-calendar .calbody span.oom a:link,
.aralex-calendar .calbody span.oom a:visited{
	color:#BBB;
	cursor:default;
	background:#fff;
}

/* 完成 按钮 */
.aralex-calendar .done{
	background:transparent url(http://img.alipay.net/global/save-btn.png) no-repeat scroll;
	cursor:pointer;
	border:none;
	height:27px;
	margin-right:5px;
	width:55px;
	font-size:13px;
	vertical-align:middle;
}
/* 清空 链接 */
.aralex-calendar a.cancel{
	text-decoration: none;
	font-size:12px;
}

.aralex-calendar .heaer-year{
	margin-right:11px;
	clear:both;
}

.aralex-calendar .calweekdayrow{
	margin-bottom:4px;
	text-align:left;
	background-color:#808080;
	height:18px;
	line-height:18px;
	clear:both;
	width:176px;
}
.aralex-calendar .calweekdayrow .calweekdaycell{
	color:#fff;
	display:block;
	width:24px;
	height:17px;
	float:left;
	text-align: center;
}
.btn_footer{
	text-align:center;
}

#spotlight { position: absolute; left: 0px; top: 0px;}

/**
* 个人版表单日历样式 author catge 20090730
*/
.fm-calendar{
       position: relative;
}/* 日历控件容器 */
.dropfilter{
       text-align:center;
	   padding:0 0 5px /* 鸽子改 12-8 */
}
.dropfilter select{margin:0 3px;}

/* 选择年月的容器 */
/* 调整下年月下拉框的样式 */
.fm-calendar .dropfilter select{
	margin: 0 10px;
}