a {
    color: #D14;
    font-weight: normal;
}
a:hover {
    color: #D10;
}
#header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    height: 46px;
    width: 100%;
    zoom: 1;
}
#header:after {
    display: block;
    content: " ";
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
#brand {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0;
    font-size: 26px;
}
#brand a {
    color: #dddfdf;
    color: rgba(0,0,0,0.1);
    text-decoration: none;
}
#brand a:hover {
    color: #dadada;
    color: rgba(0,0,0,0.16);
}
#nav {
    position: relative;
    max-width: 800px;
    *width: 560px;
    margin: 0 auto;
    padding: 10px 20px;
    background: #fff;
    z-index: 9;
}
#nav a {
    font-weight: bold;
    margin-right: 6px;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
}
#nav a:hover {
    background: rgba(0,0,0,0.1);
    background: #eee;
}
.cell {
    padding: 20px;
    background: #eee;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
}
